@import forms.model.UserDataCreateViewModel
@(userForm: Form[UserDataCreateViewModel])(implicit messages: play.api.i18n.Messages)


@main(Messages("user.data.page.title")) {


    <h1>@Messages("user.data.form.heading")</h1>
    <hr/>

    @if(userForm.hasGlobalErrors) {
        <ul>
        @for(error <- userForm.globalErrors) {
            <li>@Messages(error.messages, error.args)</li>
        }
        </ul>
    }

    @helper.form(routes.UserDataFormController.handleUserFormPost) {
        <h2>Users Form Fields</h2>
        @helper.inputText(userForm("firstName"),
                            '_label -> "First Name")
        @helper.inputText(userForm("lastName"),
                            '_label -> "Last Name")
        <button type="submit">Create user</button>
    }

}